<<<<<<< HEAD
<p><%= t(".zone", zone: @zone) %></p>
<p><%= t(".date", date: @date) %></p>

<h1><%= t(".title") %></h1>
<%= render partial: "form", locals: { zone: @zone, date: @date } %>
=======
<h1><%= t("zones.new_zone") %></h1>
<%= render partial: "form", locals: {zone: @zone, date: @date} %>
>>>>>>> 3d7a312 (Update pull_request_template.md)
