<<<<<<< HEAD
<tr>
  <td><%= product.name %></td>
  <td>
    <%= link_to t("products.actions.show"), product %>
  </td>
  <td>
    <%= link_to t("products.actions.edit"), edit_product_path(product) %>
  </td>
  <td>
    <%= link_to t("products.actions.destroy"), product,
                method: :delete,
                data: { confirm: t("products.actions.confirm_destroy") } %>
  </td>
</tr>
=======
<div id="<%= dom_id product %>">
  <p>
      <strong><%= t("products.attributes.name") %>:</strong>
    <%= product.name %>
  </p>
  <p>
    <%= link_to t("products.show_product"), product_path(product) %>
  </p>
</div>
>>>>>>> 3d7a312 (Update pull_request_template.md)
