<<<<<<< HEAD
<h1><%= t(".title") %></h1>
=======
<h1><%= t("products.editing_product") %></h1>
>>>>>>> 3d7a312 (Update pull_request_template.md)

<%= render "form", product: @product %>

<br>

<div>
<<<<<<< HEAD
  <%= link_to t(".show"), @product %> |
  <%= link_to t(".back"), products_path %>
=======
  <%= link_to t("products.show_product"), @product %> |
  <%= link_to t("products.back_to_products"), products_path %>
>>>>>>> 3d7a312 (Update pull_request_template.md)
</div>
