<<<<<<< HEAD
<% if notice.present? %>
  <p class="notice-message"><%= notice %></p>
<% end %>

<% content_for :title, t("products.index.title") %>

<h1><%= t(".title") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @products.present? %>
      <%= render @products %>
    <% else %>
      <tr>
        <td colspan="4"><%= t(".empty") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".new"), new_product_path %>
=======
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<h1><%= t("products.index.title") %></h1>

<div id="products">
  <%= render partial: "product", collection: @products %>
</div>

<%= link_to t("products.new_product"), new_product_path %>
>>>>>>> 3d7a312 (Update pull_request_template.md)
