<<<<<<< HEAD
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<h1><%= t("products.index.title") %></h1>
=======
<p style="color: green"><%= notice %></p>

<h1>Products</h1>
>>>>>>> 28f4749 (chapter_3_4_5)

<div id="products">
  <%= render partial: "product", collection: @products %>
</div>

<%= link_to t("products.new_product"), new_product_path %>
