<<<<<<< HEAD
<% if notice.present? %>
  <p class="notice-message"><%= notice %></p>
=======
<% if notice %>
  <p class="notice"><%= notice %></p>
>>>>>>> 3d7a312 (Update pull_request_template.md)
<% end %>

<%= render @product %>

<div>
<<<<<<< HEAD
  <%= link_to t(".edit"), edit_product_path(@product) %> |
  <%= link_to t(".back"), products_path %>

  <%= button_to t(".destroy"), @product,
                method: :delete,
                data: { confirm: t(".confirm_destroy") } %>
=======
  <%= link_to t("products.edit_product"), edit_product_path(@product) %> |
  <%= link_to t("products.back_to_products"), products_path %>

  <%= button_to t("products.destroy_product"), @product, method: :delete %>
>>>>>>> 3d7a312 (Update pull_request_template.md)
</div>
